In [10]:
import pandas as pd

df = pd.read_csv('heart.csv')
df.head(2)

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,52,1,0,125,212,0,1,168,0,1.0,2,2,3,0
1,53,1,0,140,203,1,0,155,1,3.1,0,0,3,0

In [11]:
df.isnull().sum()

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
target      0
dtype: int64

In [12]:
from tools_ml.eval_data import data_values

data_values(df)

age (int64)
min: 29, max: 77

sex (int64)
min: 0, max: 1

cp (int64)
min: 0, max: 3

trestbps (int64)
min: 94, max: 200

chol (int64)
min: 126, max: 564

fbs (int64)
min: 0, max: 1

restecg (int64)
min: 0, max: 2

thalach (int64)
min: 71, max: 202

exang (int64)
min: 0, max: 1

oldpeak (float64)
min: 0.0, max: 6.2

slope (int64)
min: 0, max: 2

ca (int64)
min: 0, max: 4

thal (int64)
min: 0, max: 3

target (int64)
min: 0, max: 1

In [13]:
df.shape

(1025, 14)